{% extends 'sublayout_visitor.html.twig' %}

{% block content %}

<div class="container-fluid ">
    <div class="col-md-4 mx-auto py-2 justify-content-center">
        <a class="btn btn-success w-100" href="add/" role="button">Ajouter un évènement ...</a>
    </div>
</div>

{% endblock %}
