<div class="container-fluid footer_stylish text_footer">
    <!-- Contact Information-->
    <div class="row p-3">
        <div class="col-md-10 col-lg-5 col-xl-4 px-5 my-3">
            <h4 class="text_darkcolored_section">Informations de contact</h4>
            <div class="heading-divider"></div>
            <ul class="list footer-ul  contact-list">
                <li>
                    <div class="footer-unit unit-spacing-xs footer-unit-horizontal" id="adress">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-map-marker-alt"></span></div>
                        <div class="footer-unit-body"> <a href="#adress">
                                <div>Boulodrome de la Plaine de Jeux du Belneuf</div>
                                <div>2 Rue Eugène Sue</div>
                                <div>45000 Orléans</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="footer-unit footer-unit-horizontal" id="tel">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-phone "></span></div>
                        <div class="footer-unit-body"><a href="#tel">02 38 84 25 62</a></div>
                    </div>
                </li>
                <li>
                    <div class="footer-unit footer-unit-horizontal">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-envelope"></span></div>
                        <div class="footer-unit-body"><a href="/Contact/index">Un message ?</a></div>
                    </div>
                </li>
            </ul>
            <!-- Inline List-->
            <ul class="footer-inline-list-md">
                <li><a class="footer-icon footer-icon-sm fab fa-facebook" href="https://www.facebook.com/Union-P%C3%A9tanque-Argonnaise-1499071027046225/"></a></li>
                <li><a class="footer-icon footer-icon-sm fab fa-twitter" href="https://twitter.com/upa45petanque"></a></li>
            </ul>
        </div>
        <!-- Quick Links-->
        <div class="col-md-10 col-lg-5 col-xl-4  px-5 my-3">
            <h5 class="text_darkcolored_section">Liens</h5>
            <div class="heading-divider"></div>

            <ul class="list footer-ul contact-list">
                <li>
                    <div class="footer-unit footer-unit-horizontal">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-baseball-ball"></span></div>
                        <div class="footer-unit-body"> <a href="/wishes/index">Vos envies</a></div>
                    </div>
                </li>
                <li>
                    <div class="footer-unit footer-unit-horizontal">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-baseball-ball"></span></div>
                        <div class="footer-unit-body"> <a href="/member/index">Qui sommes nous ?</a></div>
                    </div>
                </li>
                <li>
                    <div class="footer-unit footer-unit-horizontal">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-baseball-ball"></span></div>
                        <div class="footer-unit-body"> <a href="/article/index">La vie du club</a></div>
                    </div>
                </li>
                <li>
                    <div class="footer-unit footer-unit-horizontal">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-baseball-ball"></span></div>
                        <div class="footer-unit-body"> <a href="/event/index">La vie sportive</a></div>
                    </div>
                </li>
                <li>
                    <div class="footer-unit footer-unit-horizontal">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-baseball-ball"></span></div>
                        <div class="footer-unit-body"> <a href="/member/index#sponsors">Nos partenaires</a></div>
                    </div>
                </li>
                <li>
                    <div class="footer-unit footer-unit-horizontal">
                        <div class="footer-unit-left"><span class="footer-icon footer-icon-md footer-icon-secondary fas fa-baseball-ball"></span></div>
                        <div class="footer-unit-body"> <a href="/admin/index">Administration</a></div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Newsletter-->
        <div class="col-md-10 col-lg-5 col-xl-4 justify-content-center card-img-card-footer-img-content px-5 my-3">
            <div class="card card-logo-foot border-0 bg-transparent text-center">
                <div class="card-body text-light">
                    <h4 class="text_darkcolored_section">Union Pétanque Argonnaise</h4>
                </div>
                <img class="card-img-top card-img-logo-footer mx-auto" src="/assets/images/common/logo_upa_mask.png" alt="Card image cap">
                <div class="card-body card-footer-logo-end">
                    <h5 class="text_darkcolored_section">Depuis 1999</h5>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-10 col-lg-12 col-xxl-8 text-center text-light mt-3 mb-2">
            <p class="footer-copyright text_darkcolored_section">© <span id="copyright-year">2019</span> All Rights Reserved <span class="judasyan_color_blue">JuDas</span><span class="judasyan_color_orange">yan</span> Corp.<a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
