<!-- Contact Information-->
<div>
    <h5>Informations de contact</h5>
    <ul>
        <li>
                <div><a href="#">
                        <div>Boulodrome de la Plaine de Jeux du Belneuf</div>
                        <div>2 Rue Eugène Sue</div>
                        <div>45000 Orléans</div>
                    </a>
                </div>
        </li>
        <li>
            <div>
                <div><a href="#">02 38 84 25 62</a></div>
            </div>
        </li>
        <li>
            <div><a href="mailto:#">Un message ?</a></div>

        </li>
    </ul>
    <!-- Inline List-->
    <ul class="inline-list-md">
        <li><a class="fab fa-facebook" href="#"></a></li>
        <li><a class="fab fa-twitter" href="#"></a></li>
    </ul>
</div>
<!-- Quick Links-->
<div>
    <h5>Liens</h5>
    <ul>
        <li>
            <div><a href="#">Vos envies</a></div>
        </li>
        <li>
            <div><a href="#">Qui sommes nous ?</a></div>
        </li>
        <li>
            <div><a href="#">La vie du club</a></div>
        </li>
        <li>
            <div><a href="#">La vie sportive</a></div>
        </li>
        <li>
            <div><a href="#">Nos partenaires</a></div>
        </li>
        <li>
            <div><a href="#">Mentions légales</a></div>
        </li>
    </ul>
</div>
<!-- Logo-->
<div>
    <div>

        <div>
            <h3>Union Pétanque Argonnaise</h3>
        </div>
        <img src="assets/images/common/logo_upa_mask.png" alt="Union pétanque argonnaise">
        <h4>Depuis 1999</h4>
    </div>
</div>
<div>
    <p>© <span>2019</span> All Rights Reserved JuDasanCorp.<a href="#">Terms of Use</a> and <a href="#">Privacy
            Policy</a>
    </p>
</div>
