<div>
    <div>
        <h1>Union Pétanque Argonnaise</h1>
        <img>
    </div>
    <nav>
        <a></a>
        <button>
            <span></span>
        </button>
        <div>
            <ul>
                <li>
                    <a>Vos Envies <span></span></a>
                </li>
                <li>
                    <a>Vie du club</a>
                </li>
                <li>
                    <a>
                        Vie sportive
                    </a>
                    <div>
                        <a>Evènements à venir</a>
                        <a>Résultats</a>
                    </div>
                </li>
                <li>
                    <a>Qui sommes nous</a>
                </li>
                <li>
                    <a>Horaires</a>
                </li>
                <li>
                    <a>Partenaires</a>
                </li>
            </ul>
        </div>
    </nav>
</div>