<div class="header-wrap">
    <div class="img-header text-center">
        <div class="title-wrapper">
            <h1 class="h1-centered">{% block headerMainTitle %}{% endblock %}</h1>
            <h2 class="h2-centered">{% block headerSubTitle %}{% endblock %}</h2>
        </div>
        <img class="img-wrap-header" src="{{ base_path ~ directory }}/assets/images/img_couv_decoupe.jpg" alt="header-image">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-transp" id="navbarMain">
        <a class="navbar-brand" href="#"><img class="logo-nav" src="assets/images/logo_upa.png" alt="logo-img"></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto main-nav-ul-color">
                <li class="nav-item pr-4 nav-item-underline">
                    <a class="nav-link" href="#">Vos Envies</a>
                </li>
                <li class="nav-item pr-4 nav-item-underline">
                    <a class="nav-link" href="#">Vie du club</a>
                </li>
                <li class="nav-item dropdown pr-4 nav-item-underline">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vie sportive
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Evènements à venir</a>
                        <a class="dropdown-item" href="#">Résultats</a>
                    </div>
                </li>
                <li class="nav-item pr-4 nav-item-underline">
                    <a class="nav-link" href="#">Qui sommes nous</a>
                </li>
                <li class="nav-item pr-4 nav-item-underline">
                    <a class="nav-link" href="#">Horaires</a>
                </li>
                <li class="nav-item pr-4 nav-item-underline">
                    <a class="nav-link" href="#">Partenaires</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
