{% extends 'sublayout_visitor.html.twig' %}

{% block content %}
    <section id="HquiSommesNous">
        <div class="mx-5">
            <div class="row text-center">
                <div class="col-xl-4">
                    <div class="portrait_wrapper pt-3">
                        <div class="portrait float-left pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded-circle" alt="Cinque Terre">
                        </div>
                        <div class="qui_title_wrap text-left">
                            <p>Jean-Michel Du Toit</p>
                        </div>
                        <div class="qui_role_wrap text-left">
                            <p>Bouliste professionel</p>
                        </div>
                        <div class="qui_desc_wrap text-left">
                            <p>Pratiquant depuis sa plus tendre enfance, Jean-Michel a su gravir les échelons au sein d'équipes professionelles, plusieurs fois champion régional, il est aujourd'hui retraité et aime passer ses après-midi au club.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait float-left pr-4">
                            <img src="https://livedemo00.template-help.com/wt_62463_v1/images/team-03-150x150.jpg" class="rounded-circle" alt="Cinque Terre">
                        </div>
                        <div class="qui_title_wrap text-left">
                            <p>Cyril Galopin</p>
                        </div>
                        <div class="qui_role_wrap text-left">
                            <p>animateur</p>
                        </div>
                        <div class="qui_desc_wrap text-left">
                            <p>Cyril est honoré de faire partie du club, il a commencé comme employé de maintenance au boulodrome puis a su rapidement évoluer comme responsable buvette puis comme animateur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait float-left pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded-circle" alt="Cinque Terre">
                        </div>
                        <div class="qui_title_wrap text-left">
                            <p>Ingrid Longchambon</p>
                        </div>
                        <div class="qui_role_wrap text-left">
                            <p>résponsable recrutement</p>
                        </div>
                        <div class="qui_desc_wrap text-left">
                            <p>Ingrid est la dernière personne à avoir rejoint le boulodrome, son passé au rh lui permet de détecter facilement les futurs tireurs de demain.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
