{% extends 'layout.html.twig' %}

{#Insertion des fichiers de Style#}
{% block stylecss %}
    {% include 'Common/_style.html.twig' %}
{% endblock %}

{#Insertion des fichiers du header#}
{% block headercontent %}
    {% include 'Common/_header.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Hello Wilder !</h1>
{% endblock %}


{#Insertion des fichiers du footer#}
{% block footercontent %}
    {% include 'Common/_footer.html.twig' %}
{% endblock %}
