{% extends 'sublayout_visitor.html.twig' %}

{% block content %}
    <section id="HquiSommesNous">
        <div class="mx-5">
            <div class="row text-center">
                {% for i in 0..2 %}
                <div class="col-xl-4">
                    <div class="portrait_wrapper pt-3">
                        <div class="portrait float-left pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded-circle" alt="Cinque Terre">
                        </div>
                        <div class="qui_title_wrap text-left">
                            <p>{{ members[0].lastname~' '~membres[0].firstname }}</p>
                        </div>
                        <div class="qui_role_wrap text-left">
                            <p>{{ members[0].role }}</p>
                        </div>
                        <div class="qui_desc_wrap text-left">
                            <p>{{ members[0].desc }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
