{% extends 'sublayout_visitor.html.twig' %}

{% block content %}

    <section id="HarticleClub">
        <div class="container-fluid">
            <div class="text-center"><h2>Actualité du club</h2></div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <div class="big_club_article">
                            <div class="info_article_big">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"><span> 10-04-2019</span></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"><span> Jean</span></i>
                                    </li>
                                </ul>
                                <div class="article_tag_and_title_big">
                                    <button class="button_tag btn">info</button>
                                    <h4 class="title_article_big">On prend l'apéro à 18h</h4>
                                    <p class="hover_content_big_article no_display">{{ (article|length > 50 ? article|slice(0, 50) ~ '…' : article) |nl2br }}</p>
                                </div>
                            </div>
                            <img class="rounded big_club_img bloc" src="https://via.placeholder.com/150">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="card card_small_article mx-auto">
                            <div class="info_article_small">
                                <div class="article_tag_small">
                                    <button class="button_tag btn">article</button>
                                </div>
                            </div>
                            <img class="card-img-top card_img_small" src="https://via.placeholder.com/150"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <i class="fas fa-calendar-alt mt-5"><span> 10-04-2019</span></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="card card_small_article mx-auto">
                            <div class="info_article_small">
                                <div class="article_tag_small">
                                    <button class="button_tag btn">évènement</button>
                                </div>
                            </div>
                            <img class="card-img-top card_img_small" src="https://via.placeholder.com/150"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <i class="fas fa-calendar-alt mt-5"><span> 10-04-2019</span></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
