{% extends 'sublayout_visitor.html.twig' %}

{% block content %}

    <!-- ==================== Début Section "Vos envies" ==================== -->

    <section id="vos_envies">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Vos envies...</h2>
                    <div class="h2_separator"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm_12 col-lg-4 mx-auto card_margin card_margin_yourwishes">
                    <div class="card card_yourwishes">
                        <img class="card-img-top card_img_yourwishes"
                             src="{{ base_path ~ directory }}/assets/images/vosenvies_decouvrir.jpg"
                             alt="Photo découverte pétanque">

                        <div class="card-body">
                            <h5 class="card-title text-center">Découverte</h5>
                            <p class="card-text">Vous souhaitez découvrir l'univers de la pétanque ? Des terrains et des
                                ateliers sont à votre disposition.</p>
                        </div>
                        <div class="card-footer card_title_footer text-center">
                            <button type="button" class="btn btn_item" data-toggle="modal"
                                    data-target="#vos_envies">
                                Voir plus
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm_12 col-lg-4 mx-auto card_margin card_margin_yourwishes">
                    <div class="card card_yourwishes">
                        <img class="card-img-top card_img_yourwishes"
                             src="{{ base_path ~ directory }}/assets/images/vosenvies_entrainement.jpg"
                             alt="Photo entraînement pétanque">

                        <div class="card-body">
                            <h5 class="card-title text-center">Entraînement</h5>
                            <p class="card-text">Améliorez votre technique en participant à nos entraînements
                                semi-professionnels.</p>
                        </div>
                        <div class="card-footer card_title_footer text-center">
                            <button type="button" class="btn btn_item" data-toggle="modal"
                                    data-target="#vos_envies">
                                Voir plus
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm_12 col-lg-4 mx-auto card_margin card_margin_yourwishes">
                    <div class="card card_yourwishes">
                        <img class="card-img-top card_img_yourwishes"
                             src="{{ base_path ~ directory }}/assets/images/vosenvies_competition.jpg"
                             alt="Photo compétition pétanque">

                        <div class="card-body">
                            <h5 class="card-title text-center">Compétition</h5>
                            <p class="card-text">Allez plus loin et participez aux compétitions partout en France et à
                                l'International</p>
                        </div>
                        <div class="card-footer card_title_footer text-center">
                            <button type="button" class="btn btn_item" data-toggle="modal"
                                    data-target="#vos_envies">
                                Voir plus
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== Fin Section "Vos envies" ==================== -->



    <!-- ============== Début section Horaires ============= -->

    <section id="horaires" class="colored_background">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="h2_colored_section">Horaires</h2>
                    <div class="h2_separator_dark"></div>
                </div>
            </div>

            <div class="row">
                <div class="col mx-auto">
                    <div class="table-responsive-vertical">
                        <table class="table table-hover table_striped table-bordered">
                            <thead class="comp-thead-color">
                            <tr>
                                <th scope="col">Jour</th>
                                <th scope="col">Matin</th>
                                <th scope="col">Après-midi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left" scope="row">Lundi</td>
                                <td data-title="Matin :">Fermé</td>
                                <td data-title="Après-midi :">De 14h00 à 19h30</td>
                            </tr>
                            <tr>
                                <td class="text-left" scope="row">Mardi</td>
                                <td data-title="Matin :">De 8h00 à 12h00</td>
                                <td data-title="Après-midi :">De 14h00 à 19h30</td>
                            </tr>
                            <tr>
                                <td class="text-left" scope="row">Mercredi</td>
                                <td colspan="2">Ouvert toute la journée, de 8h00 à 20h00</td>

                            </tr>
                            <tr>
                                <td class="text-left" scope="row">Jeudi</td>
                                <td data-title="Matin :">De 8h00 à 12h00</td>
                                <td data-title="Après-midi :">De 14h00 à 18h00</td>
                            </tr>
                            <tr>
                                <td class="text-left" scope="row">Vendredi</td>
                                <td data-title="Matin :">De 8h00 à 12h00</td>
                                <td data-title="Après-midi :">De 14h00 à 21h00</td>
                            </tr>
                            <tr>
                                <td class="text-left" scope="row">Samedi</td>
                                <td data-title="Matin :">De 8h00 à 12h00</td>
                                <td data-title="Après-midi :">De 14h00 à 21h00</td>
                            </tr>
                            <tr>
                                <td class="text-left" scope="row">Dimanche</td>
                                <td colspan="2">Ouvert toute la journée, de 8h00 à 20h00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==================== Fin section Horaires ========================== -->

{% endblock %}

