{% extends 'sublayout_visitor.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>

    <!-- ==================== Début Section "Vos envies" ==================== -->

    <section id="vos_envies">
        <h2>Vos envies...</h2>

        <div class="container">
            <div class="row">

                <div class="col-sm_12 col-lg-4 mx-auto card_margin">
                    <div class="card w-100 h-100">
                        <img class="card-img-top" src="" alt="Photo découverte pétanque">
                        <div class="align-middle">
                            <p class="align-middle">&nbsp;</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titre</h5>
                            <p class="card-text">Ici est le texte</p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn" data-toggle="modal"
                                    data-target="#vos_envies">
                                Lien
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm_12 col-lg-4 mx-auto card_margin">
                    <div class="card w-100 h-100">
                        <img class="card-img-top" src="" alt="Photo découverte pétanque">
                        <div class="align-middle">
                            <p class="align-middle">&nbsp;</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titre</h5>
                            <p class="card-text">Ici est le texte</p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn" data-toggle="modal"
                                    data-target="#vos_envies">
                                Lien
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm_12 col-lg-4 mx-auto card_margin">
                    <div class="card w-100 h-100">
                        <img class="card-img-top" src="" alt="Photo découverte pétanque">
                        <div class="align-middle">
                            <p class="align-middle">&nbsp;</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titre</h5>
                            <p class="card-text">Ici est le texte</p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn" data-toggle="modal"
                                    data-target="#vos_envies">
                                Lien
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- ==================== Fin Section "Vos envies" ==================== -->


    </section>
{% endblock %}

