{% extends 'sublayout_visitor.html.twig' %}

{% block content %}

    <section id="Hpartenaires">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="big_club_article">
                            <div class="info_article_big">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"><span> 10-04-2019</span></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"><span> Jean</span></i>
                                    </li>
                                </ul>
                                <div class="article_tag_and_title">
                                    <button class="button_tag btn">news</button>
                                    <h4 class="title_article_big">On prend l'apéro à 18h</h4>
                                    <p class="hover_content_big_article no_display">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            <img class="rounded big_club_img bloc" src="https://via.placeholder.com/150">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="small_club_article">
                            <img class="rounded small_club_img" src="https://via.placeholder.com/150">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="small_club_article">
                            <img class="rounded small_club_img" src="https://via.placeholder.com/150">
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="Hpartenaires">
        <div class="mx-5">
            <h3 class="text-center">Ils nous font confiance</h3>
            <div class="row text-center pt-4">
                <div class="col-xl-2">
                    <div class="portrait_wrapper pt-3">
                        <div class="portrait pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
