{% extends 'sublayout_visitor.html.twig' %}

{% block content %}
    <section id="HquiSommesNous">
        <div class="mx-5">
            <div class="row text-center">
                <div class="col-xl-4">
                    <div class="portrait_wrapper pt-3">
                        <div class="portrait float-left pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded-circle" alt="Cinque Terre">
                        </div>
                        <div class="qui_title_wrap text-left">
                            <p>Nom Prenom</p>
                        </div>
                        <div class="qui_role_wrap text-left">
                            <p>role</p>
                        </div>
                        <div class="qui_desc_wrap text-left">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, aliqua aliqua sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait float-left pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded-circle" alt="Cinque Terre">
                        </div>
                        <div class="qui_title_wrap text-left">
                            <p>Nom Prenom</p>
                        </div>
                        <div class="qui_role_wrap text-left">
                            <p>role</p>
                        </div>
                        <div class="qui_desc_wrap text-left">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, labore et dolore magna aliqua adipiscing elit,
                                sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="portrait-wrapper pt-3">
                        <div class="portrait float-left pr-4">
                            <img src="http://via.placeholder.com/150x150" class="rounded-circle" alt="Cinque Terre">
                        </div>
                        <div class="qui_title_wrap text-left">
                            <p>Nom Prenom</p>
                        </div>
                        <div class="qui_role_wrap text-left">
                            <p>role</p>
                        </div>
                        <div class="qui_desc_wrap text-left">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, labore et dolore magna aliqua adipiscing elit,
                                sed do eiusmod tempor incididunt adipiscing elit, labore et dolore</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
