.main-nav-ul-color > li > a
{
    color: white !important;
}

.navbar-colored
{
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #3E3631;
    transition: 0.3s ease-in-out;
}

.navbar-transp
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgba(0,0,0,0);
    transition: 0.2s ease-in-out;
}

.nav-fixed
{
    position: fixed;
    width: 100%;
    top:0px;
    font-size: 100%;
}

.h1-centered
{
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    margin: auto;
    font-size: 5vw;
}

.logo-nav
{
    width: 60px;
}

.img-wrap-header
{
    width: 100%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}

/*link navbar animation*/

.nav-item-underline > a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.nav-item-underline > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 2px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-item-underline > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


