@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
/*-------------------------------------------------------------------------------*/
/* Titres de bases*/
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #737273;
}

header {
    box-shadow: 0 .5rem 1rem rgba(83, 83, 83, 0.5);
}

h1,h2 {
    font-family: ‘Montserrat’, sans-serif;
    font-weight: 700;
}

h3,h4,h5{
    font-family: ‘Montserrat’, sans-serif;
    font-weight: 500;
}


h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}

h2 {
    text-transform: uppercase;
    font-size: 2.0rem;
    color: #d3aa4e;
    padding-top: 60px;
    padding-bottom: 30px;
}

.h2_colored_section {
    color: #333333;
}

h3 {
    font-size : 1.7rem;
    color: #333333;
}

h4 {
    font-size : 1.4rem;
    color: #333333;
}

h5 {
    font-size : 1.2rem;
    color: #333333;
}

.text_darkcolored_section {
    color:lightgray;
}

p {
    font-family: ‘Lato’, sans-serif;
    font-size: 14px;
    color: #333333;
}

.colored_background{
    background-color: #e2d3ba;
    padding-bottom: 3%;
}


/* ---- h2 separator ---- */

.h2_separator_dark{
    display: inline-block;
    width: 80px;
    height: 3px;
    margin-bottom: 3%;
    background-color: #3E3631;
}

.h2_separator{
    display: inline-block;
    width: 80px;
    height: 3px;
    margin: 1% 0 2% 0;
    background-color: #d3aa4e;
}


/* ---- Button styles ---- */

.btn{
    border-radius: 0;
}

.btn_item{
    text-decoration: none;
    padding: 13px 35px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    background-image: none;
    background-color: #3e3631;
}

.btn_item:hover{
    color: #d3aa4e;
    background-color: transparent;
    text-decoration: none;
    border: solid 1px #d3aa4e;
}

.btn_item_invert{
    width: 400px;
    text-decoration: none;
    padding: 13px 35px;
    color: #d3aa4e;
    font-size: 14px;
    font-weight: 700;
    background-image: none;
    background-color: transparent;
    border: solid 1px #d3aa4e;
}

.btn_item_invert:hover{
    color: white;
    background-color: #3E3631;
    text-decoration: none;
    border: solid 1px #3E3631;
}


/* ---- Styles section Vos Envies ---- */

.card_yourwishes {
    border: none;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card_title_footer{
    background-color: transparent;
    border: none;
}

.card_img_yourwishes{
    border-radius: 15px;
}

.card_margin_yourwishes{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card_body_yourwishes{
    margin-top: 20px;
    height: 150px;
}

.img_secWishes{
    max-width: 300px;
}

/* ---- Styles Section Horaires ---- */

.table_schedule{
    background-color: rgba(211,170,78,0.2);
    margin-right: auto;
    margin-left: auto;
}

.table_schedule thead th{
    border: 1px solid #3E3631;
    background-color: #d3aa4e;
    color: #3E3631;
}

.table_schedule tbody td{
    border: 1px solid #3E3631;
}

.table_schedule tbody th{
    border: 1px solid #3E3631;
}

.table_schedule tbody tr:hover{
    background-color: #3E3631;
    color: #d3aa4e;
}
  

/*-------------------------------------------------------------------------------*/


.text_footer {
    font-size: 16px;
    color:lightgray;
}


.footer-ul {
    list-style: none;
}
.footer_stylish{
    background-color: #3a332d;
}


/*HeadingDivider*/
.heading-divider {
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 0;
}

.heading-divider::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.heading-divider::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    border-top: 1px solid #d3aa4e;
}

.heading-divider-extent {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0;
}

.heading-divider-extent::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(221, 221, 221, 0.5);
}
.heading-divider-extent::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 35%;
    border-top: 1px solid #d3aa4e;
}


/*---------- LIENS / ICONS FOOTER ---------------- */
.footer_stylish a {
    transition: .25s ease-out all;
}
.footer_stylish a.icon {
    transition: .3s ease-out all;
}

.footer_stylish a,
.footer_stylish a:focus,
.footer_stylish a:active {
    color: lightgray;
    text-decoration: none;
}
.footer-inline-list-md a:hover,
.footer-ul  a:hover {
    color: #d3aa4e;
    text-decoration: none;
}
.footer-inline-list-md a.icon::before {
    transition: 0s;
}

.footer-icon-md{
    font-size: 18px;
    color: #d3aa4e;
}
.footer-icon-sm, .icon-sm.mdi {
    font-size: 25px;
}
.footer-iconicon-secondary {
    color: #d3aa4e;
}
/*------------------------------------------------- */
/*Footer organisation Colonnes et textes*/
.footer-unit-left, .footer-unit-right {
    flex: 0 0 auto;
    max-width: 100%;
}
.footer-unit {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    margin-top : 0.75rem;
    margin-bottom : 0.75rem;
}
.footer-unit-body {
    flex: 0 1 auto;
    padding-left: .5rem;
}
.footer-unit-horizontal {
    flex-direction: row;
}

.footer-inline-list-md > :first-child,.footer-inline-list-md:last-child > *, .footer-inline-list-md:last-child > :first-child {
    display: inline-block;
    margin-top: 10px;
    margin-left: 27px;
}

.footer-copyright{
    font-size: 12px;
}
/*------------------------------------------------- */
/*Logo Footer */
.card-footer-img-content{
    display: flex;
    align-items: center;
}
.card-footer-logo-end{
    color: #d3aa4e;
}
.card-img-logo-footer{
    width: 110px;
    height: 110px;
}

/*------------------------------------------------- */
/*Judasyan LOGO*/
.judasyan_color_blue, .judasyan_color_orange {
    font-size: 18px;
}
.judasyan_color_blue{
    color:#1982c8;
}
.judasyan_color_orange{
    color:#f58320;
}

.comp-thead-color{
    background-color: rgba(58, 51, 45,1);
}

.comp-button-moreinfo {
    color: #fff;
    background-color:rgba(58, 51, 45,1);
    border-color: rgba(43, 37, 33,1);
    transition: .25s ease-out all;
}

.comp-button-moreinfo:hover {
    transition: .25s ease-out all;
    box-shadow: 0 .5rem .5rem rgba(83, 83, 83, 0.2);
    color: #d3aa4e;
}

.table {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
}
.table > thead > tr, .table > tbody > tr, .table > tfoot > tr {
    transition: all .3s ease;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    text-align: left;
    vertical-align: top;
    border-top: 0;
    transition: all .3s ease;
}
.table > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.table > thead{
    color: lightgray;
    font-weight: 400;
}
.table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,0.12);
}

.table .table {
    background-color: #fff;
}

.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
    padding: 0.8rem;
}
.table-bordered {
    border: 0;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid rgba(211, 170, 78, 1);
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: rgba(211, 170, 78, 1);
}
@media screen and (max-width: 992px) {
    .table-responsive-vertical > .table {
        margin-bottom: 0;
        background-color: transparent;
    }
    .table-responsive-vertical > .table > thead, .table-responsive-vertical > .table > tfoot {
        display: none;
    }
    .table-responsive-vertical > .table > tbody {
        display: block;
    }
    .table-responsive-vertical > .table > tbody > tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin-bottom: 1.6rem;
    }
    .table-responsive-vertical > .table > tbody > tr > td {
        background-color: #fff;
        display: block;
        vertical-align: middle;
        text-align: right;
    }
    .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 500;
        color: #757575;
    }
    .table-responsive-vertical.shadow-z-1 {
        box-shadow: none;
    }
    .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
        border: none;
    }
    .table-responsive-vertical > .table-bordered {
        border: 0;
    }
    .table-responsive-vertical > .table-bordered > tbody > tr > td {
        border: 0;
        border-bottom: 1px solid rgba(211, 170, 78, 1);
    }
    .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
        border-bottom: 0;
    }
    .table-responsive-vertical > .table-striped > tbody > tr > td, .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
        background-color: #fff;
    }
    .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
        background-color: #f5f5f5;
    }

    .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
        background-color: rgba(211, 170, 78, 1);
    }

}

/******************* EVENEMENT SPORTIF CARTE ****************************************************/
/*-------------------------------------------------------------------------------------------------*/
.card-evt {
    max-width: 800px;
    min-height: 300px;
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgba(83, 83, 83, 0.2);
    border: 1px solid rgba(211, 170, 78, 1);
}

.card-body-evt-small {
    max-width: 400px;
    min-height: 100px;
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgba(83, 83, 83, 0.2);
    border: 2px solid rgba(211, 170, 78, 1);
}
.card-img_event {
    object-fit: cover;
    height: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    filter: blur(0px) opacity(50%);
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}

.img-event-small {
    width:100%;
    margin-right: auto;
    margin-left: auto;
}

.card-title-evt {
    background-color: rgba(211, 170, 78, 0.8);
    padding: 5px 0;
    margin-top: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.card-title-evt-date {
    height: 45px;
    padding: 2px;
    margin-bottom: 2%;
}

.card_body_evt{
    height: 600px;
}

.card_text_evt{
    height: 200px;
}

.h5_evt{
    height: 50px;
}

/***********************Formulaire Global ********************************************/
.form-required::after{
    color: red;
    content: '*';
    pointer-events: none;
    padding-left: 2px;
}

.error-form {
    color: red;
}

/****  NAVBAR ********/
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
{
    color: white;
    font-size : 18px;
}

.dropdown-menu
{
    background-color: #3E3631;
    border: none;
}

.navbar-light .navbar-nav .show > .nav-link
{
    color: white;
}

.dropdown-menu > a
{
    color: white;
    transition: 0.15s ease-in-out;
}

.dropdown-menu > a:hover{
    transition: 0.15s ease-in-out;
}

.navbar-colored
{
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #3E3631;
    transition: 0.3s ease-in-out;
}

.navbar-transp
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgba(0,0,0,0);
    transition: 0.2s ease-in-out;
}


.h1-centered
{
    color: #fff;
    margin: auto;
    font-size: 5vw;
}

.h2-centered
{
    color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
    padding-top: 20px;
}

.title-wrapper{
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    margin: auto;
    font-size: 5vw;
}

.logo-nav
{
    width: 60px;
}

.img-wrap-header
{
    width: 100%;
}


.custom-toggler .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler
{
    border-color: rgb(255,255,255);
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}

/*link navbar animation*/

.nav-item-underline > a {

    position: relative;
    color: #fff;
    text-decoration: none;
}


.nav-item-underline > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 2px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}


.nav-item-underline > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


#HquiSommesNous
{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.qui_title_wrap, .qui_role_wrap, .qui_desc_wrap{
    overflow: hidden;
    max-width: 500px;
}

.qui_title_wrap > p, .qui_role_wrap > p{
    margin-bottom: 0.5rem;
}

.qui_title_wrap > p{
    font-size: 125%;
}

.qui_role_wrap > p{
    font-size: 80%;
}


.home_members_picture{
    width: 150px;
    height: 150px;
    object-fit:cover;
}

.box_shadow_toggle{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.50);
}

/* ================================= Début Styles Admin ================================== */

/* Styles Admin Accueil */

.icon_admin{
    font-size: 100px;
    margin: 20px;
}

.row_adminIndex{
    margin: 80px;
}

.card_adminIndex_margin{
    margin-top: 40px;
}

.card_body_adminIndex{
    height: 100px;
}

/* Styles Admin Horaires */

.btn_schedule{
    padding-bottom: 10%;
}

.input_schedule{
    background-color: transparent;
    border: 0.5px solid #3a332d;
    border-radius: 10px;
    padding: 2% 0;
    text-align: center;
}

.input_schedule:hover{
    background-color: #f5f5f5;
}

/* ================================= Fin Styles Admin ================================== */

.card_img_member{
    width: 400px;
    max-height:300px;
    object-fit: cover;
}

.card_header_member{
    border: 0px;
}

.sponsor_wrapper{
    max-width: 200px;
}

.img_sponsor{
    max-width: 200px;
    max-height: 200px;
}

.sponsor_background{
    width: 100%;
    background-color: #d3aa4e;
}

.btn_toggle_member{
    background-color: #d3aa4e;
}

.btn_toggle_member_dark{
    background-color: rgb(115, 114, 115);
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    box-shadow: none;
    outline: none;
    background-color: #737273;
}

.card_member{
    border: 1px solid #d3aa4e;
    border-radius: 0;
}

.card_member_text{
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-header{
    background-color: unset;
}

.name_rol_member_card{
    margin: auto;
    margin-bottom: 10px;
}

.border_bottom_member_card{
    margin: auto;
    padding-bottom: 15px;
    width: 95%;
    border-bottom: 1px solid #dbdbdb;
}

.desc_member_card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 95%
}

.img_partner{
    width: 220px;
}

@media screen and (max-width: 1600px) {
    .card_img_member {
        width: 300px;
    }
}

#Hpartenaires{
    background-color: #e2d3ba;
}

.partner_img{
    width: 150px;
}

/******************* ARTICLE SPORTIF CARTE ****************************************************/
/*-------------------------------------------------------------------------------------------------*/
.article-small {
    width:50%;
}

.card_evt_article{
    margin-left: auto;
    margin-right: auto;
}
.card-article{
    max-width: 800px;
    height:100%;
    cursor: pointer;
    border: 1px solid rgba(211, 170, 78, 1);
}

.row_article{
    margin: 80px;
}

.card-header_article, .card-footer_article{
    border: none;
    background-color: transparent;
}


/************************ GALERIE PHOTO ADMIN *****************************************/
.thumbnail img {width:auto;height:250px; object-fit: contain;}
/*-------------------------------------------------------------------------------------------------*/
/********************GALLERY *************************************************************************/
.img-gallery {
    width: 100%;
    height: 100%;
}
.fg-img-card {
    min-height: 150px;
    min-width: 150px;
}
.feature-gallery {
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}
.feature-gallery img.thumb {
    filter:sepia(.8);
    transform: scale(1);
    transition: all 700ms ease;
}
.feature-gallery:hover img.thumb {
    opacity: 1;
    filter:none;
    transition: all 0.35s;
    transform: scale(1.13);
}
.fg-overlay {
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all.3s;
    width: 100%;
    height: 100%;
    padding: 30px;
    cursor: pointer;
}
.feature-gallery:hover .fg-overlay {
    background-color: rgba(0, 0, 0, 0);
    filter:none;
    opacity: 1;
    transform: scale(1);
}
.fg-overlay h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    opacity: 1;
    margin-bottom: 5px;
    transform: scale(1);
    transition: all .35s;
}
.fg-overlay p {
    font-size: 14px;
    color: #fff;
    opacity: 1;
    transform: scale(1);
    transition: all .35s;
}
.feature-gallery:hover .fg-overlay h2,
.feature-gallery:hover .fg-overlay p{
    opacity: 0;
    transform: scale(0.1);
}
.fg-overlay:before {
    opacity: .5;
    position: absolute;
    top:15px;
    left:15px;
    bottom:15px;
    right:15px;
    z-index: 10;
    content: "";
    display: block;
    transform: scale(0.5);
    transition: all .35s;
}
.feature-gallery:hover .fg-overlay:before {
    opacity: 1;
    transform: scale(1);
}

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}


/****************************************************************************************************/

.card-footer{
    margin-top: 90px;
}

#panelfilter{
    cursor:pointer;
}

#iconfilter{
    font-size: 24px;
    color: rgba(58, 51, 45,1);
}

#panelfilter .rotate{
    transition: all .4s linear;
}

#panelfilter .rotate.down {
    transform: rotate(90deg);
}



/*************************** ARTICLE HOME SECTION *************************************/


.big_club_article{
    height:100%;
}


.big_club_img
{
    object-fit:cover;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.3s ease-in-out 0s;
}

.info_article_big:hover + .big_club_img
{

    filter: brightness(80%);
    transition: all 0.3s ease-in-out 0s;
}

.small_club_img
{
    object-fit:cover;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.info_article_big
{
    z-index: 1;
    width: 95%;
    height: 480px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.info_article_small
{
    z-index: 1;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20px;
    left:20px;
    margin: auto;
}

.info_article_big > ul{
    padding: 0;
}

.info_article_big > ul > li{
    display: inline;
    list-style: none;
    padding-left: 10px;
    color: white;
}

.info_article_big{
    font-size: 95%;
}

.article_tag_and_title_big{
    position: absolute;
    bottom:0;
}

.article_tag_small{
    top:0;
    z-index:5;
    position:absolute;
}

.button_tag {
    color: #fff;
    background-color:#3E3631;
    padding: .180rem .50rem;
}

.button_tag:hover, .button_tag:focus {
    background-color: #bf9b30;
}

.title_article_big{
    padding-top: 20px;
    color: white;
}

.hover_content_big_article{
    overflow:hidden;
    opacity: 0.9;
    width: 500px;
    position: absolute;
    bottom: -110px;
    padding: 5px;
}

.no_display{
    display:none;
}

.card_img_small{
    width: 100%;
    height:300px;
}


.card_small_article{
    height:500px;
    width: 100%;
    margin-top: 50px;
}
/****************************************************************************************/

.img_cover{
    object-fit:cover;
}

.button-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    bottom: 0px;
}
/* ===================== Style Page Vos Envies... ================== */

.section_wishes_card{
    margin: 80px;
    border-radius:0px;
}

.section_wishes_body{
    background-color: transparent;
    border: none;
}

.section_wishes_colored{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #e2d3ba;
}

.font_title_partner{
    font-size:220%;
}

.sepia_filter{
    filter: sepia(0.8);
}
