{% extends 'sublayout_visitor.html.twig' %}

{% block content %}

    <section id="#">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2>Vos envies...</h2>
                <div class="h2_separator"></div>
            </div>


                <div class="text-center">
                    <h3>Découvrir</h3>
                </div>
                <div>
                    <p>Venez découvrir les joies de la pétanque sur notre boulodrôme et ses plus de cent terrains couverts
                        et extérieurs.<br/>
                    Ouvert à tous et à tous les âges au sein d'un club actif, structuré et inscrit dans sa ville et sa
                        région, venez participer à une pratique sportive qualitative et sécurisée.</p>
                </div>


        </div>

    </section>

{% endblock %}