<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div align="center">
    <h1>Union Pétanque Argonnaise</h1>
    <img src="http://www.boulistenaute.com/uploads/img57c52e814e29b.jpg" width="100" alt="logo">
</div>

<div>
    <p style="white-space:pre;">{{ contactData.message }}</p>
    <p>{{ contactData.firstname }} {{ contactData.lastname }}</p>
    <p>{{ contactData.phone }}</p>
</div>

</body>
</html>