{% extends 'sublayout_visitor.html.twig' %}

{% block content %}
    <div class="container-fluid justify-content-center text-center p-0">
    <div class="row justify-content-center">

    {% for member in members %}

        <div class="card rounded-0 col-sm-6 col-md-3 p-0 m-5">
            <div class="card-header">
                <img class="card-img-top rounded-0" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="card-body p-0">

            </div>
        </div>

    {% endfor %}

    </div>
    </div>
{% endblock %}